
.header {
    margin-top: 1.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: 125%;
    color: darkslategray;
    background-color: aliceblue;
}